.main-app {
    text-align: center;
    margin: 100px;
}

body {
    background-color: #333;
}

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}

.mint-nft-button {
    background: orange;
}

.cont {
    text-align: center;
    /* margin: 100px; */
    margin-top: 0;
    padding: 8px;
    background-color: rgb(42, 203, 203);
}

.cont h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}